# Servidor HTTP
PORT=3001
NODE_ENV=development

# Conexão com Banco de Dados Relacional (PostgreSQL 16)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/pollen_afiliados
DB_DIALECT=postgres
POSTGRES_PORT=5433

# Parâmetros individuais opcionais para PostgreSQL (usados se DATABASE_URL não for informada)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pollen_afiliados

# Políticas de CORS e Arquivos
CORS_ORIGIN=http://localhost:3000
UPLOAD_DIR=./uploads
